
.presContainer, .roadMapContainer, .aboutMeContainer, .personalContainer{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.presContainer{
    background-image: url('../assets/layered-waves-haikei-low.svg');
}
.roadMapContainer{
    background-image: url('../assets/layered-waves-haikei-up.svg');
}
.aboutMeContainer{
    background-image: url('../assets/blob-haikei-center.svg');
}
.personalContainer{
    background-image: url('../images/personalPhoto.jpg');
}
