@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  
  font-family: "Outfit";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #001220;

}